/*
    light-grey: #202020
    grey: #181818
    dark-grey: #0f0f0f
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 60px;
    margin: 0;
    background-color: #181818;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #6489DE;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
}
  
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9db2e2;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}
  
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
  
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0) }
    50% { -webkit-transform: scale(1) }
}
  
@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0);
      -webkit-transform: scale(0);
    } 50% { 
      transform: scale(1);
      -webkit-transform: scale(1);
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    overflow: hidden;
    background-color: #202020ec;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}
  
.navbar a {
    float: right;
    display: block;
    color: #ebebeb;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    border-radius: 6.5px;
    transition: 0.45s;
}
  
.navbar a:hover {
    background: #698de0;
    color: #131313;
}

.navbar-logo {
    padding: 16px 0px 10px 16px;
    width: 180px;
    transition: 0.45s;
    cursor: pointer;
}

.navbar-logo:hover {
    transform: scale(1.05);
}

.container {
    padding-top: 45px;
    padding-bottom: 85px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    place-items: center;
}

.bg-blue {
    background-color: #698de0;
}

.bg-grey {
    background-color: #202020;
}

.footer {
    background: #0f0f0f;
    color: white;
    line-height: 50px;
    padding: 20px 20px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    bottom: 0;
}

.footer > div {
    margin: 50px;
}

.curved-div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.curved-div svg {
    display: block;
}

@media only screen and (max-width: 354px) {
    .navbar a:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    .navbar a:nth-child(4) {
        display: none;
    }
    .navbar-logo, .navbar a {
        transition: 0.3s;
    }
}

@media only screen and (max-width: 600px) {
    .navbar a {
        padding: 18px 15px;
    }
    .navbar a:nth-child(2) {
        display: none;
    }
}